{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}

{% if username %}
    <h1>Bienvenido, {{ username }}</h1>
{% endif %}

{% if user_ip %}
    <h3>Tu IP es {{ user_ip }}</h3>

    <div class="container col-sm-2">
      <div class="row">
        <form action="{{ url_for('hello') }}" method="POST">
          <div class="form-group">
            {{ login_form.username.label(class_="col-form-label col-form-label-sm") }}
            <div>
              {{ login_form.username(class_="form-control") }}
            </div>
  
            {{ login_form.password.label(class_="col-form-label col-form-label-sm") }}
            <div>
              {{ login_form.password(class_="form-control") }}
            </div><br/>
  
            <div>
              {{ login_form.submit(class_="btn btn-primary") }}
            </div>
          </div>
        </form>
        <!-- {{ wtf.quick_form(login_form) }} -->
      </div>

      <div class="row">
        <ul><br />
          {%for todo in todos %}
            {{ macros.render_todo(todo) }}
          {% endfor %}
        </ul>
      </div>
    </div>
{% else %}
    <a href="{{ url_for('index') }}">Ir al inicio</a>
{% endif %}
{% endblock %}